@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:wght@400;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background-color:#FD6E0A;
    border: none;
    color:white;
    padding:15px 35px;
    font-size: 20px;
    font-weight: 700;

}
body{
    font-family: "Open Sans", sans-serif;
    
}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 200px;
}
.nav-title{
    color:#181818;
    font-size: 45px;
    font-weight: 800;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
   color:#474747;
}
.banner{
padding:30px 30px 0px 150px;
display: flex;
align-items: center;
justify-content: space-between;
}
.banner-content{
    max-width:500px;
}
.profile-pic{
    width:500px;
    
}

.banner-greeding{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-title{
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 85px;
    font-weight: bold;
    color:#181818;
}
.banner-description{
    margin-bottom: 20px;
    color: #757575;
}
